<!doctype html>
<html>
	<head> 
	<meta charset="utf-8">

	<title>RASPBERRY PI STATE VIEWER</title>
	<meta name="viewport" content="width=device-width initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
	<!--javascript 사용 라이브러리-->
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<!--chartjs 사용 라이브러리-->
	<!-- 공식 사이트 url : https://www.chartjs.org/-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
	<style>
	.chartContainer{
		width : 500px;
		height: 260px;
		border: 1px solid #555;
		padding : 10px;
		border-radius:8px;
	}
	</style>
	<!--1초마다 웹사이트 새로고침을 하여 라즈베리파이의 상태를 갱신-->
	<!--<meta http-equiv="refresh" content="3600">-->
	</head> 
	
	<body>
		<h1>KRICT BMS</h1>
        <hr>
		<!-- ajax 요청으로 새로고침 없이 데이터 갱신 하는 경우 -->
	<h3> ajax 비동기 처리 </h3>
	<p> - 서버로 값 전달 후 json으로 받아와 표시 </p>
	<input type="text" id="txt1" name="inputdata"></input>
	<button id="btn1">submit</button>
	<div id="result1"></div>
	<p> - 주기적으로 센서값 json 요청 (200ms)</p>
	<form>
		<p>Humidity <span id="buttonState" style="color: red;"></span></p>
		<p>Temperature <span id="tem" style="color: blue;"></span></p>
	</form>
	<div class="chartContainer">
		<canvas id="lineChart" ></canvas>
	</div>
	
	
	</body>
	
	<script type=text/javascript>
	var mychart = $('#lineChart');
	var myLineChart = new Chart(mychart,{
		type: 'line',
		data:{
			labels:[
			'1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월',],
			datasets:
			[
			{
				label : 'Temperature - Room1',
				data:[10,8,6,5,12,7,16,7,6,10,12,10]
			},
			{
				label : 'Humidity - Room1',
				data:[2,17,5,9,4,5,15,7,2,13,8,7]
			}
			]}
		});
	
	
	
			
	
	$( "#btn1" ).click(function() {
		//input 요소의 value에 접근하여 저장
		var txt1_v = $('#txt1').val();
		// 서버로 보낼 json 형식 데이터
		var postdata = {
			'inputdata':txt1_v
		}
		$.ajax({
			type: 'POST',
			// ajax 경로
			url: '{{url_for("ajax_page")}}',
			// 서버로 보낼 데이터 꾸러미 형식
			data: JSON.stringify(postdata),
			// 데이터 타입 지정
			dataType : 'JSON',
			contentType: "application/json",
			// 서버로 부터 받은 데이터 result1 요소로 value 전달
			success: function(data){
				$("#result1").text("result:"+data['inputdata'] + '=' + data['rlt']);
			},
			// 데이터 송수신 문제 발생 시 브라우저에 경고창 출력
			error: function(request, status, error){
				alert('ajax error:['+status+']['+error+']')
			}
		})
	});
	
	/*
	$(
    // 주기적으로 버튼 상태를 얻기 위한 ajax요한 요청 (200ms)
    // span tag에 상태 반영하여 수정
    // 상태 text는 서버에 의해 JSON 스트링 으로 반환
    function button() 
    {
		// 연결할 ajax url
        $.getJSON('/_button', function(data)
            {
                $("#buttonState").text(data.buttonState);
                // 서버로 button() 함수 주기적으로 실행 요청
                setTimeout(function(){
					console.log(' _button 호출');
					button();
					},200);
            });
    }
    );
    */
    	$(
    // 온습도 함수 
    function callHT() 
    {
		// 연결할 ajax url
        $.getJSON('/_callHT', function(data)
            {
                $("#buttonState").text(data.buttonState);
                $("#tem").text(data.tem);
                // 서버로 button() 함수 주기적으로 실행 요청
                setTimeout(function(){
					console.log(' _callHT 호출');
					callHT();
					},200);
            });
    }
    );

	</script>
</html>
