<!doctype html>
<html>
    <head> 
        <meta charset="utf-8">
        <!-- main page title -->
        <title>RASPBERRY PI STATE VIEWER</title>
        <!-- javascript library -->
	    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <!-- chartjs library -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
        <!-- CSS -->
        <style>
            .chartContainer{
                width : 550px;
                height: 260px;
                border: 1px solid #555;
                padding : 10px 10px 30px 10px;
                border-radius:8px;
            }
        </style>
    </head>
    <body>
        <!-- system name -->
        <h1>KRICT LAB Web Manager </h1> <hr>

        <!-- print tem & hum -->
        <form>
            <p><span id="date" style="color: black;"></span></p>
            <p>Temperature: <span id="tem" style="color: blue;"></span> *C</p>
            <p>Humidity: <span id="hum" style="color: red;"></span> %</p>
        </form>

        <!-- print temp chart -->
        <div class="chartContainer">
            <canvas id="tempChart" ></canvas>
        </div>

        <!-- print humid chart -->
        <div class="chartContainer">
            <canvas id="humidChart" ></canvas>
        </div>

        <!-- javascript -->
        <script type=text/javascript>
        var tem;
        var hum;
        var time;
        var humDataList = new Array(20);
        var temDataList = new Array(20);
        var timeDataList = new Array(20).fill('');

        //chart val
        var tempChart = $('#tempChart');
        var humidChart = $('#humidChart');
        //rendering temp chart
        var tempChart = tempChart = new Chart(tempChart,{
            type: 'line',
            data:{
                labels: timeDataList,
                datasets:
                [{
                }],
            },
                
            options:{

                responsive: true,
                scales:{
                    x:{
                        title:{
                            display:true,
                            align : 'center',
                            text:'Time'
                        },
                    },
                    y:{
                        title:{
                            display:true,
                            text:'Temperature (°C)'
                        },
                        suggestedMin:21,
                        suggestedMax:28,
                        ticks:{
                            stepSize:0.2
                        }
                    }
                },
                plugins: {
                    title: {
                        text: 'Temperature',
                        display: true,
                        font:{
                            size:24,
                        }
                    },
                    legend:{
                        display:false
                    },
                },
                animation : false
                }
            });

        //rendering humid chart
        var humidChart = humidChart = new Chart(humidChart,{
            type: 'line',
            data:{
                labels: timeDataList,
                datasets:
                [{
                }]
            },
            options:{
                responsive: true,
                scales:{
                    x:{
                        title:{
                            display:true,
                            align : 'center',
                            text:'Time '
                        },
                    },
                    y:{
                        title:{
                                display:true,
                                text:'Humidity (%)',
                            },
                        suggestedMin:40,
                        suggestedMax:85,
                        ticks:{
                            stepSize:1
                        }
                    }
                },
                plugins: {
                    title: {
                        text: 'Humidity',
                        display: true,
                        font:{
                            size:24,
                        }
                    },
                    legend:{
                        display:false
                    },
                },
                animation : false
                }
            });

        // call HT data from server
        $(function callHT()
        {
            // ajax url
            $.getJSON('/callHT', function(data)
            {
                $("#hum").text(data.hum);
                $("#tem").text(data.tem);
                $("#date").text(data.date);
                hum = Number(data.hum);
                tem = Number(data.tem);
                time = data.time;
                // if data type is only number
                if(!isNaN(hum) && !isNaN(tem)){

                    // resizing the array and fill data
                    if (humDataList.length <= 20 && temDataList.length <= 20) {
                        humDataList[humDataList.length-1] = hum;
                        temDataList[temDataList.length-1] = tem;
                        timeDataList[timeDataList.length-1] = time;
                        humDataList.length++;
                        temDataList.length++;
                        timeDataList.length++;
                        
                    }
                    // shifting array data
                    else{
                        for (let index = 0; index < humDataList.length - 1; index++) {
                            humDataList[index] = humDataList[index + 1];
                            temDataList[index] = temDataList[index + 1];
                            timeDataList[index] = timeDataList[index + 1];
                            humDataList[humDataList.length-1] = hum;
                            temDataList[temDataList.length-1] = tem;
                            timeDataList[timeDataList.length-1] = time;

                        }
                    }
                }
                tempChart.data.datasets[0].data = temDataList;
                tempChart.data.labels.data = timeDataList;
                humidChart.data.datasets[0].data = humDataList;
                humidChart.data.labels.data = timeDataList;
                tempChart.update();
                humidChart.update();

                setTimeout(function(){
					callHT();
					},100);
                });
        }
        );


        

        </script>
    </body>
</html>